* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: #333;
  background: white;
}

/* -----------------------------------------------------
   MAIN LAYOUT
------------------------------------------------------*/

.container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  min-height: auto;
}

/* -----------------------------------------------------
   LATERAL MENU 
------------------------------------------------------*/

.lateral {
  width: 280px;
  background: white;
  border-right: 1px solid #b6d4e0;
  border-right: none;
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  /**/
  margin-right: 10px;
}

#top-image {
  position: relative;
  aspect-ratio: 1/1;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-image img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  filter: brightness(0.85);
}

#top-image .top-text {
  position: absolute;
  color: white;
  text-align: center;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /**/
  font-family: "Brush Script MT";
}

.lateral-child {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.lateral-grandchild {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  font-size: 1rem;
  gap: 8px;
  cursor: pointer;
  color: #39c3c3;
}

.lateral-grandchild:hover {
  background: #d7f1f6;
}

.lateral-grandchild img {
  width: 26px;
}

.lateral-title {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px dotted #222;
  padding: 8px 14px;
  font-size: 0.9rem;
}

.lateral-paragraph {
  padding: 8px 14px;
  font-size: 0.85rem;
  line-height: 1.4rem;
}

#cursive {
  font-family: "Brush Script MT";
  font-size: 1.15rem;
}

.lateral-btn {
  margin: 0 14px;
  padding: 8px 12px;
  border: 1px solid #cacaca;
  background: #ffffff;
  color: #5dcece;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 0.8rem;
}

.lateral-btn img {
  width: 18px;
  height: 18px;
  filter: grayscale(0%);
  filter: hue-rotate(-0.1turn);
  opacity: 0.85;
  transition: 0.2s ease;
}

.lateral-btn:hover img {
  filter: grayscale(0%);
  opacity: 1;
}

.lateral button {
  width: 160px;
  white-space: nowrap;
}
/* -----------------------------------------------------
   CAROUSEL 
------------------------------------------------------*/

.carousel {
  flex: 1;
  position: relative;
  /*height: 420px;*/
  /*----*/
  height: 45vh;
  min-height: 220px;
  max-height: 360px;
  /*----*/
  overflow: hidden;
  margin-bottom: 5px;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel::after {
  content: "   Read, Learn, Share";
  position: absolute;
  left: 0px; /*formerly 30px*/
  bottom: 55px;
  background: rgba(255, 255, 255, 0.95);
  padding: 8px 26px;
  font-size: 1.6rem;
  font-weight: bold;
}

.carousel::before {
  content: "Get daily how-tos, stories & updates with the latest news.";
  position: absolute;
  left: 0px; /*formerly 30px*/
  bottom: 25px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 6px 18px;
  font-size: 1.2rem;
  font-family: "Brush Script MT";
}

/* -----------------------------------------------------
   HORIZONTAL MENU
------------------------------------------------------*/

.menu {
  width: 100%;
  display: flex;
  background: #ebf7f5;
  /*border-bottom: 1px solid #95d6c6;*/
  border-bottom: none;
  margin-bottom: 20px;
}

.menu-child {
  flex: 1;
  padding: 30px 10px;
  text-align: center;
  border-right: 1px solid #95d6c6;
  color: #39c3c3;
  cursor: pointer;
}

.menu-child:last-child {
  border-right: none;
}

.menu-child:hover {
  background: #d1ebe7;
}

.menu-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-text {
  font-size: 0.8rem;
  color: #39c3c3;
}

/* -----------------------------------------------------
   NEWSLETTER BAR
------------------------------------------------------*/

.search-bar {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 2px dotted #222;
  border-bottom: 2px dotted #222;
}

.bar-container img {
  padding-right: 4%;
  width: 12%;
}

.bar-text {
  font-family: "Brush Script MT", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.2rem;
  /**/
}

.search-bar input {
  padding: 6px;
  /*width: 180px;*/
  border: 1px solid #c7c7c7;
  color: #c7c7c7;
}

.search-bar button {
  padding: 6px 32px;
  background-image: linear-gradient(#e6e6e6 20%, #fafafa 100%);
  border: 1px solid #c7c7c7;
  color: #c6c6c6;
  cursor: pointer;
}

.bar-container:first-child {
  display: inline-flex;
}

.bar-container:last-child {
  display: flex;
  width: 50%;
}

.bar-container:last-child input {
  border-right: none;
  flex: 2 2 auto;
}

.bar-container:last-child button {
  border-left: none;
  flex: 1 1 auto;
}

/* -----------------------------------------------------
   ARTICLES 
------------------------------------------------------*/

.articles {
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  background: white;
}

.article-img {
  max-height: 180px;
  aspect-ratio: 5/3;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  padding: 6px;
  /**/
  display: flex;
  justify-content: center;
  margin: 4px;
}

.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-title {
  color: #39c3c3;
  font-weight: 600;
  padding: 10px;
  font-size: 1.05rem;
}

.article-body {
  padding: 0 10px 10px 10px;
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.article-footer {
  padding: 0 10px 10px 10px;
  font-size: 0.85rem;
  margin-top: auto;
  color: #666;
}

.article-date {
  color: #555;
}

.article-read {
  color: #5dcece;
  text-decoration: none;
  font-weight: bold;
  margin-left: 4px;
}

.article-read:hover {
  text-decoration: underline;
}

/* -----------------------------------------------------
   FOOTER
------------------------------------------------------*/

.footer {
  width: 100%;
  margin-top: 20px;
  padding: 16px;
  background: white;
  border-top: 2px dotted #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text a {
  color: #5dcece;
  text-decoration: none;
}

.footer img {
  width: 30px;
  opacity: 0.7;
  filter: grayscale(100%);
}

/* -----------------------------------------------------
   RESPONSIVE BREAKPOINTS
------------------------------------------------------*/

.mobile-logo {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 6px 0 2px 0;
}

.mobile-logo img {
  width: 80px;
  height: auto;
  aspect-ratio: 1/1;
  filter: brightness(0.85);
  border-radius: 50%;
  opacity: 0.95;
}

#mobile-logo .top-text {
  position: absolute;
  color: white;
  text-align: center;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /**/
  font-family: "Brush Script MT";
}

.mobile-grandchilds {
  display: none;
}

/* TABLET */
@media (max-width: 992px) {
  .lateral {
    display: none;
  }

  .container {
    display: block;
  }

  .articles {
    grid-template-columns: repeat(4, 1fr);
  }

  .carousel {
    height: 340px;
  }

  .menu-child {
    min-height: fit-content;
    margin-bottom: 2px;
    padding: 10px 0px;
  }

  .menu-text {
    display: none;
  }

  .mobile-grandchilds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: white;
    border-bottom: 2px dotted #333;
    padding: 10px 5px;
    gap: 12px;
  }

  .mobile-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    font-size: 1.2rem;
    color: #5dcece;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background: none;
  }

  .mobile-item img {
    width: 20px;
  }

  .bar-container:last-child input {
    width: 90%;
  }

  .bar-container img {
    min-width: 17%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .bar-container:last-child {
    min-width: 45%;
  }

  .bar-text {
    font-size: 1.4rem;
    padding-right: 3%;
    padding-left: 3%;
  }
}

/* SMALL MOBILE: 480px */
@media (max-width: 768px) {
  .bar-text {
    font-size: 1.2rem;
  }

  .bar-container img {
    width: 20%;
    padding-right: 5%;
    padding-left: 2%;
  }

  .carousel::after {
    font-size: 1.2rem;
  }

  .mobile-grandchilds {
    flex-direction: row;
    align-items: center;
    border-bottom: none;
  }

  .mobile-item img {
    display: none;
  }
  /*--------*/
  .main-content {
    column-count: 1;
    column-gap: 2rem;
  }

  .mobile-grandchilds,
  .carousel,
  .menu,
  .search-bar {
    break-inside: avoid;
    width: 100%;
    display: block;
  }

  .mobile-grandchilds {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
  }

  #mobile-logo {
    width: 100%;
    order: 1;
    border-top: 2px dotted #333;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: fit-content;
    margin-bottom: 8px;
    padding: 8px 0px;

    position: sticky;
    top: 0;
    z-index: 1;
  }

  .menu-child {
    padding: 2px;
  }

  .menu-title {
    font-size: 1.1em;
  }

  .articles {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .article {
    break-inside: avoid;
  }

  .article-img {
    max-height: none;
    width: 90%;
    justify-self: center;
  }

  .bar-container:last-child {
    width: 100%;
    justify-self: center;
  }

  .bar-container:last-child input {
    border-right: none;
    flex: 2 2 auto;
    /*min-width: 90%;*/
  }

  .bar-container:last-child button {
    border-left: none;
    flex: 1 1 auto;
  }

  .bar-container img {
    max-width: 10%;
    padding-right: 4%;
    padding-left: 4%;
  }

  .bar-text {
    font-size: 1.2rem;
  }

  .carousel::before {
    bottom: 0px;
    width: 100%;
  }

  .carousel::after {
    bottom: 30px;
    width: 60%;
    opacity: 0.85;
  }
}
