body {
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fancy-button {
  display: inline-flex;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  border-radius: 25px 25px 25px 25px / 20px 20px 20px 20px;
  border: #4d4d4d solid;
  padding: 1em 2.7em;
  text-decoration: none;
  position: relative;
  background: rgb(231, 231, 231);
  color: #454444;
  overflow: hidden;
  z-index: 1;
}

.fancy-button::before {
  content: "★";
  position: absolute;
  inset: 5px;
  border-radius: inherit;
  background: linear-gradient(180deg, #eff4fb, #9c9ea5);
  box-shadow: inset 0 0 0 1px gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.2em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.1em;
  pointer-events: none;
  z-index: -1;
}

.fancy-button::after {
  content: "★";
  position: absolute;
  inset: 5px;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.2em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.1em;
  pointer-events: none;
  z-index: 0;
}

/* Second sub-exercise */

button {
  display: block;
  background-color: rgb(251, 58, 58);
  color: white;
  border-radius: 999px;
  font-size: medium;
  border: #eff4fb;
  font-weight: bold;
  padding: 0.5em 2em;
  margin: 0.9em auto 0;
}

label {
  font-size: medium;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label,
input {
  display: inline-block;
  vertical-align: middle;
}

input {
  border: black;
  border-width: thin;
  border-style: none none solid none;
}

.form-field {
  font-weight: bold;
  display: inline-flex;
  flex-flow: row;
}
