body {
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fancy-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 22px 50px;
  text-decoration: none;
  color: #4a4a4a;

  font-size: 22px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;

  border-radius: 22px;

  border: 2px solid #808080;

  box-shadow: inset 0 0 0 8px #d9d9d9, inset 0 0 0 10px #565656,
    inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.25);

  background: linear-gradient(
    to bottom,
    #e9e9e9 0%,
    #d2d2d2 40%,
    #bdbdbd 65%,
    #979797 100%
  );

  cursor: pointer;

  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6),
    -1px 0 rgba(255, 255, 255, 0.2), 1px 0 rgba(255, 255, 255, 0.2);
}

.fancy-button::before {
  content: "★";
  position: absolute;
  left: 22px;
  font-size: 22px;
  color: #8b8b8b;
  top: 50%;
  transform: translateY(-50%);
}

.fancy-button::after {
  content: "★";
  position: absolute;
  right: 22px;
  font-size: 22px;
  color: #8b8b8b;
  top: 50%;
  transform: translateY(-50%);
}

/* Second sub-exercise */

.form-field {
  position: relative;
  display: inline-flex;
  flex-flow: row;
  font-weight: bold;
  align-items: center;
}

.form-field::before {
  content: attr(data-hint);
  position: absolute;
  top: -42px;
  left: 0px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
  z-index: 20;
}

.form-field::after {
  content: "";
  position: absolute;
  top: calc(-42px + 100% - 1px);
  left: 20px;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;

  z-index: 19;
}

input {
  border: none;
  border-bottom: 1px solid black;
  padding: 4px 0;
  font-size: 15px;
  outline: none;
}

button {
  display: block;
  background-color: rgb(251, 58, 58);
  color: white;
  border-radius: 999px;
  font-size: medium;
  border: #eff4fb;
  font-weight: bold;
  padding: 0.5em 2em;
  margin: 0.9em auto 0;
}

label {
  font-size: large;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label,
input {
  display: inline-block;
  vertical-align: middle;
}

input {
  border: black;
  border-width: thin;
  border-style: none none solid none;
}
